.bg-paper {
    background-image: url(../images/intro/background-paper.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    height: 100%;
}





p {
    padding-bottom: 20px;
}



