.bg-paper {
    background-image: url(../images/intro/background-paper.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    height: 100%;
}

sup {
    display: inline-block;
    color: #FF3D00;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

section.chapter-1 {
    height: auto;
}

.chapter-1 p {
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 135%;
    font-weight: 300;
}

.chapter-1 p.citation {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: red;
    padding: 100px 0;
}

sup:hover {
    transform: scale(1.5);
}


.banner {
    position: absolute;
    width: 90px;
    height: 100%;
}


.vertical-text {
    width: 100%;
    transform: rotate(-90deg);
    display: block;
    text-align: center;
    white-space: nowrap;
    position: relative;
    top: 50%;
    text-transform: uppercase;
}



.brand {
    position: fixed;
    z-index: 2;
    top: 20px;
    font-size: 34px;
    left: calc(100vw - 600px);
}







